
.btn.btn-lg.btn-success {
     color: white;
}

.jumbotron {
    border: 0.5px solid #4f802c;    
}

.btn.btn-lg.btn-success:hover {
    color: black;
}

.navbar-inverse {
	background-color: red;
}

.navbar navbar-static-top navbar-inverse {
	background-color:#384f29;
}
